.App {
  text-align: center;
}
nav{
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background-color: lightblue;
  margin-Bottom:20px;
}

.repo_div >div{
  width:250px;
  height:300px;
  border:1px solid black;
  margin-Bottom:20px;
  background-color: lightblue;

  
}
.repo_div{
  margin:auto;

}